:root {
    --clr-primary-1: #E9FDFC;
    --clr-primary-2: #c9f1ef;
    --clr-primary-3: #a7e5e2;
    --clr-primary-4: #83d8d4;
    --clr-primary-5: #59ccc7;
    --clr-primary-6: #23A29E;
    --clr-primary-7: #007A77;
    --clr-primary-8: #005452;
    --clr-primary-9: #003030;
    --clr-secondary-1: #fff7f9;
    --clr-secondary-2: #ffe4eb;
    --clr-secondary-3: #fed1dd;
    --clr-secondary-4: #fcbecf;
    --clr-secondary-5: #faabc1;
    --clr-secondary-6: #CD8197;
    --clr-secondary-7: #A1596F;
    --clr-secondary-8: #76334A;
    --clr-secondary-9: #4E0C27;

    --clr-gray: #575654;
    --clr-collective-1: #618CE2;

    --clr-gradient-bg-1: linear-gradient(to right, #83d8d4, #7cd6d2, #75d4cf, #6dd1cd, #65cfca, #5dcac6, #55c6c1, #4dc1bd, #44b9b5, #3ab1ad, #2faaa6, #23a29e);
    --clr-gradient-bg-2: linear-gradient(to right, #23a29e, #3baca8, #4eb6b2, #5fc0bc, #6fcac6, #72ceca, #76d1cd, #79d5d1, #72d3cf, #6ad1cc, #62ceca, #59ccc7);
    --clr-gradient-bg-3: linear-gradient(to right, #59ccc7, #50c4bf, #47bcb7, #3db4b0, #33aca8, #38ada9, #3daeaa, #41afab, #53b9b5, #64c3bf, #74ceca, #83d8d4);

    --transition: all 0.3s linear;
}

* {
    padding: 0;
    margin: 0;
}

@keyframes main-bg {
    0% {
        background-image: var(--clr-gradient-bg-1);
    }
    33% {
        background-image: var(--clr-gradient-bg-2);
    }
    66% {
        background-image: var(--clr-gradient-bg-3);
    }
    100% {
        background-image: var(--clr-gradient-bg-1);
    }
}

body {
    background-image: var(--clr-gradient-bg-1);
}

.main {
    /* height: fit-content; */
}

.circular-navbar {
    width: 70vw;
    height: fit-content;
    margin: 0 auto;
    margin-top: 2rem;
    position: relative;
}

.img-container {
    width: 100%;
    height: fit-content;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.main-links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.link-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
}

.link-path {
    text-decoration: none;
    color: var(--clr-primary-1);
    display: grid;
    grid-template-rows: 2fr 1fr;
    row-gap: 0;
    place-items: center;
}

.link-icon {
    font-size: 4.5rem;
}

@media screen and (max-width: 750px) {
    .link-icon {
        font-size: 3rem;
    }
}

.link-title {
    display: none;
}

.link-btn:hover .link-path {
    color: var(--clr-primary-8);
    transition: var(--transition);
    transform: scale(1.2);  
}

.link-btn:hover #link-twitch i {
    color: #8e21c9;
}

.link-btn:hover #link-donation i {
    color: #ffb218;
}

.link-btn:hover #link-youtube i {
    color: #df2522;
}

.link-btn:hover #link-discord i {
    color: #5f62ff;
}

.link-btn:hover #link-email i {
    color: #1eb8ff;
}

.link-btn:hover .link-icon-small {
    color: #b57600;
}

.link-btn:hover .link-icon {
    filter:drop-shadow(0 0 4px #fff)
}

.link-btn:hover .link-title {
    display: contents;
    font-weight: bolder;
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px #fff;
}

.link-img {
    position: relative;
}

.link-img img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    border: var(--clr-primary-6) 3px solid;
}

.link-icon-small {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 2rem;
    color: var(--clr-primary-8);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px 3px #fff;
}

@media screen and (max-width: 750px) {
    .link-img img {
        width: 3rem;
        height: 3rem;
    }

    .link-btn:hover .link-title {
        font-size: 1rem;
    }

    .link-icon-small {
        font-size: 1.5rem;
    }
}

footer {
    padding: 3rem 1rem;
    background-color: var(--clr-primary-8);
}

.copyright {
    color: var(--clr-primary-1);
    font-weight: bold;
    font-size: 1rem;
}

@media screen and (max-width: 600px) {
    .copyright {
        font-size: .7rem;
    }
}